/*Обнуление*/
* {
    padding: 0;
    margin: 0;
    border: 0;
 }
 *,
 *:before,
 *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
 }
 :focus,
 :active {
    outline: none;
 }
 a:focus,
 a:active {
    outline: none;
 }
 
 nav,
 footer,
 header,
 aside {
    display: block;
 }
 
 html,
 body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
 }
 input,
 button,
 textarea {
    font-family: inherit;
 }
 
 input::-ms-clear {
    display: none;
 }
 button {
    cursor: pointer;
 }
 button::-moz-focus-inner {
    padding: 0;
    border: 0;
 }
 a,
 a:visited {
    text-decoration: none;
 }
 a:hover {
    text-decoration: none;
 }
 ul li {
    list-style: none;
 }
 img {
    vertical-align: top;
 }
 
 h1,
 h2,
 h3,
 h4,
 h5,
 h6 {
    font-size: inherit;
    font-weight: 400;
 }
 /*--------------------*/

 @import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900);

 body {
    font-family: "Montserrat";
 }

.screen {

    &__wrapper {
        background: linear-gradient(128.61deg, #5C98DD 16.52%, #6D40B7 82.06%);
        min-height: 100vh;
        padding: 80px 25px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__content {
        max-width: 1170px;
        margin: 0 auto;
    }
}

.content-screen {

    &__subtitle {
        font-size: calc(15px + 30 * (100vw / 1170));
        font-weight: 700;
        line-height: 150%;
        letter-spacing: 0em;
        text-align: center;
        color: white;
        text-transform: uppercase;
    }

    &__title {
        font-size: calc(20px + 40 * (100vw / 1170));
        font-weight: 700;
        line-height: 150%;
        letter-spacing: 0em;
        text-align: center;
        color: white;
        text-transform: uppercase;
        margin-bottom: 45px;
    }

    &__text {
        font-size: calc(14px + 10 * (100vw / 1170));
        font-weight: 500;
        line-height: 170%;
        letter-spacing: 0em;
        max-width: 1170px;
        text-align: center;
        color: white
    }

    &__container-button{
        max-width: fit-content;
        margin: 0 auto;
        margin-top: 55px;
        transition: all 0.3s ease 0.1s;
        border-radius: 15px;
    }

    &__button {
        padding: 10px 20px;
        background-color: #CB6A6A;
        font-size: calc(20px + 10 * (100vw / 1170));
        font-weight: 500;
        line-height: 45px;
        letter-spacing: 0em;
        text-align: left;
        border-radius: 15px;
        color: white;
    }

    &__container-button:hover{
        box-shadow: 1px 1px 20px rgba(6, 0, 25, 0.358);
        transform: scale(1.08);
    }

    &__icon-container{
        max-width: fit-content;
        margin: 0 auto;
        margin-top: 40px;
        
    }

    &__icon{
        height: 60px;
        pointer-events: none;
        position: relative;
        animation: icon-mouse 2s ease-in-out infinite alternate;
    }

    @keyframes icon-mouse {
      0%{
         top: 0;
      }
      100%{
         top: 30px;
      }
    }
    
}

.content-main {

   &__info-block {
   }
}
.info-block {

   &__wrapper {
      padding: 80px 25px;      
   }

   &__content {
      max-width: 1170px;
      margin: 0 auto;
      text-align: center;
   }
}
.content-info-block {

   &__title {
      font-size: calc(20px + 15 * (100vw / 1170));
      font-weight: 700;
      line-height: 170%;
      letter-spacing: 0em;
      text-align: center;
      text-transform: uppercase;
      background: linear-gradient(91.05deg, #5C98DD 31.34%, #6D40B7 77.64%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      margin-bottom: 45px;
   }

   &__text {
      font-size: calc(12px + 6 * (100vw / 1170));;
      font-weight: 300;
      line-height: 200%;
      letter-spacing: 0em;
      text-align: center;
   }

   @media (max-width: 768px) {
      &__title{
         margin-bottom: 25px;
      }

      &__text{
         text-align: justify;
      }
   }
}

.footer {

   &__wrapper {
      padding: 15px 25px;
      background-color: #474747;
   }

   &__content {
      color: white;
      font-size: calc(10px + 3 * (100vw / 1170));
      font-weight: 300;
      line-height: 150%;
      letter-spacing: 0em;
      text-align: center;
   }
}

// PAGE 2 //

.content-page {

   &__gradient-wrapper {
      background: linear-gradient(128.61deg, #5C98DD 16.52%, #6D40B7 82.06%);
      padding: 115px 25px;
   }

   @media (max-width:768px) {
      &__gradient-wrapper {
         padding: 60px 25px;
      }
   }

   &__title {
      font-size: calc(25px + 10 * (100vw / 1170));
      font-weight: 700;
      line-height: 170%;
      letter-spacing: 0em;
      text-align: center;
      color: white;
      text-transform: uppercase;
      margin-bottom: 45px;
   }

   &__info-card {
      display: flex;
      align-items: center;
      background-color: white;
      border-radius: 0 45px 0 45px;
      max-width: 1170px;
      margin: 0 auto;
      filter: drop-shadow(0px 8px 20px rgba(0, 0, 0, 0.25));
   }
}
.card-content {

   &__title{
      font-size: calc(20px + 10 * (100vw / 1170));
      font-weight: 500;
      line-height: 53px;
      letter-spacing: 0em;
      text-align: left;
   }

   &__column-text {
      font-size: calc(12px + 6 * (100vw / 1170));
      font-weight: 300;
      line-height: 200%;
      letter-spacing: 0em;
      text-align: justify;
      padding: 32px;
   }

   &__img {
      border-radius: 0 45px 0 0;
   }
   
   @media (max-width: 1024px) {
      &{
         flex-wrap: wrap;
      }

      &__img{
         width: 100%;
         height: auto;
      }

      &__column-img{
         display: none;
      }
   }
}
.tasks-content {
   max-width: 1170px;
   margin: 0 auto;
   color: white;
   padding-top: 75px;

   &__title {
      font-size: calc(17px + 9 * (100vw / 1170));
      font-weight: 500;
      line-height: 170%;
      letter-spacing: 0em;
      text-align: left;
      border-bottom: 2px solid white;
      max-width: fit-content;
   }

   &__list-item {
      padding: 20px 0px;
   }

   &__item-text {
      font-size: calc(12px + 6 * (100vw / 1170));
      font-weight: 300;
      line-height: 200%;
      letter-spacing: 0em;
      text-align: justify;
   }

   &__item-title {
      font-size: calc(15px + 4 * (100vw / 1170));
      font-weight: 400;
      line-height: 170%;
      letter-spacing: 0em;
      text-align: justify;
   }
}

.content-page {

   &__white {
      background-color: white;
      padding: 115px 25px;
   }

   @media (max-width:768px) {
      &__white {
         padding: 60px 25px;
      }
   }

   &__white-wrapper {
      max-width: 1170px;
      margin: 0 auto;
   }

   &__text {
      font-size: calc(12px + 6 * (100vw / 1170));;
      font-weight: 300;
      line-height: 200%;
      letter-spacing: 0em;
      text-align: justify;
      color: white;
      margin: 0 auto;
      max-width: 1170px;
      padding-top: 75px;
   }
}
.content-white {
   &__text {
      font-size: calc(12px + 6 * (100vw / 1170));
      font-weight: 300;
      line-height: 200%;
      letter-spacing: 0em;
      text-align: justify;
   }
}


// block-content

.content-white {

   &__block-flex {
      display: flex;
      align-items: center;
      gap: 30px;
      margin: 50px 0;
   }

   @media (max-width: 768px){
      &__block-flex{
         flex-wrap: wrap;
      }
   }
}
.block-content {

   &__column-img {
      display: flex;
      flex-direction: column;
      gap: 50px;
   }

   &__title {
      font-size: calc(20px + 10 * (100vw / 1170));
      font-weight: 500;
      line-height: 170%;
      letter-spacing: 0em;
      text-align: left;
      margin-bottom: 35px;
   }

   &__text {
      font-size: calc(12px + 6 * (100vw / 1170));
      font-weight: 300;
      line-height: 200%;
      letter-spacing: 0em;
      text-align: justify;
      padding: 8px 0;
   }

   @media (max-width: 768px){

      &__title {
         margin-bottom: 0px;
      }

      &__img{
         text-align: center;
         max-width: 40vw;
         height: auto;
      }

      &__column-img {
         flex-direction: row;
         gap: 10px;
         justify-content: space-between;
      }
   }
}


.page-3-header{
   width: 100%;
   min-height: 100vh;
   background: linear-gradient(128.61deg, #5C98DD 16.52%, #6D40B7 82.06%);
   padding: 115px 25px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
}


.page-3-header-texts{
   display: flex;
   flex-direction: column;
   justify-self: start;
}

.texts-2{
   align-self: center;
   text-align: center;
}

.page-3-header-text-1{
   font-weight: 700;
   font-size: calc(20px + 20 * (100vw / 1170));
   line-height: 150%;
   color: white;
   text-align: center;
   text-transform: uppercase;
}

.page-3-header-text-2{
   font-weight: 700;
   font-size: calc(25px + 20 * (100vw / 1170));;
   line-height: 150%;
   color: white;
   text-align: center;
   text-transform: uppercase;
}

.page-3-header-text-3{
   font-size: calc(14px + 8 * (100vw / 1170));
   font-weight: 500;
   line-height: 170%;
   letter-spacing: 0em;
   text-align: left;
   border-bottom: 2px solid white;
   max-width: -moz-fit-content;
   max-width: fit-content;
   color: #FFFFFF;
}

.page-3-header-text-4{
   font-weight: 300;
   font-size: calc(12px + 7 * (100vw / 1170));;
   line-height: 180%;
   color: #FFFFFF;
   margin-top: 18px;
   opacity: 0.7;
}

.page-3-thx{
   max-width: 1170px;
   margin: 0 auto;
   padding: 75px 25px;
}

.page-3-thx-text{
   font-weight: 300;
   font-size: calc(13px + 5 * (100vw / 1170));
   text-align: justify;
   line-height: 180%;
}

.page-3-thx-text-2{
   font-weight: 700;
   font-size: 35px;
   line-height: 170%;
   text-align: center;
   text-transform: uppercase;
   margin-top: 80px;
   background: linear-gradient(91.05deg, #5C98DD 31.34%, #6D40B7 77.64%);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   background-clip: text;
}